@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PharmaFlow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="Stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComputerShop.Web.styles.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity!.IsAuthenticated)
    {
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <i id="user-avatar" class='bx bx-user-circle'></i>
                    </span>

                    <div class="text logo-text">
                        <span class="email"> @User.Identity!.Name!</span>
                    </div>
                </div>

                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <ul>
                        <li>
                            <a asp-area="Pharmacist" asp-controller="Calendar" asp-action="GetCalendar">
                                <i class='bx bx-calendar icon'></i>
                                <span class="text nav-text">Календар</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Pharmacist" asp-controller="Chart" asp-action="GetOutputReportChart">
                                <i class='bx bx-bar-chart-alt-2 icon'></i>
                                <span class="text nav-text">Аналітика</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Pharmacist" asp-controller="Product" asp-action="GetProductList">
                                <i class='bx bx-band-aid icon'></i>
                                <span class="text nav-text">Продукти</span>
                            </a>
                        </li>

                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li>
                                <a asp-area="Manager" asp-controller="Report" asp-action="GetOutputReportRequestList">
                                    <i class='bx bx-file icon'></i>
                                    <span class="text nav-text">Запити звітів</span>
                                </a>
                            </li>


                            <li>
                                <a asp-area="Manager" asp-controller="Report" asp-action="GetInputReportList">
                                    <i class='bx bx-cart-download icon'></i>
                                    <span class="text nav-text">Закупівлі</span>
                                </a>
                            </li>
                        }

                        <li>
                            <a asp-area="Pharmacist" asp-controller="MedicalFacility" asp-action="GetMedicalFacilityList">
                                <i class='bx bx-building-house icon'></i>
                                <span class="text nav-text">Клієнти</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Pharmacist" asp-controller="Contact" asp-action="GetContactList">
                                <i class='bx bx-book icon'></i>
                                <span class="text nav-text">Контакти</span>
                            </a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-area="Admin" asp-controller="User" asp-action="GetUserList">
                                    <i class='bx bx-user icon'></i>
                                    <span class="text nav-text">Користувачі</span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>

                <div class="bottom-content">
                    <ul>
                        <li>
                            <a asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                <i class='bx bx-log-out icon'></i>
                                <span class="text nav-text">Вийти</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <main class="home">
            <div class="text">PharmaFlow</div>

            <div class="container h-100">
                <div class="h-100 m-1">
                    @RenderBody()
                </div>
            </div>
        </main>

        @*<footer class="border-top footer text-muted mt-auto position-sticky top-100">
            <div class="container">
                &copy; 2023 - PharmaFlow
            </div>
        </footer>*@
    }
    else
    {
        <div class="container h-100">
            <main role="main" class="h-100">
                @RenderBody()
            </main>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>